<app-encabezado titulo="Alerta">
  
</app-encabezado>

<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="regresar" color="secondary"></ion-back-button>
    </ion-buttons>

    <ion-title>alerta</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
<ion-button (click)="onClick()" expand="block">
  Alerta
</ion-button>
<ion-button (click)="presentAlertMultipleButtons()" expand="block">
  Multiples Botones
</ion-button>
<ion-button (click)="presentAlertPrompt()" expand="block">
  Cuestionario rapido
</ion-button>

</ion-content>
